@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    color: #090b19;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #090b19;
    font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

::placeholder {
    color: #534847;
}

.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/wrapper/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/* header start */

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #090b19;
}

.header-container {
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
}

.nav-link {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
}

.nav-link:hover {
    opacity: 0.7;
}

@media (screen) {
    .wrapper {
    }
}

/* header end */

/* hero start */
.hero {
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/wrapper/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: start;
}
.hero-container {
    position: relative;
    width: 100%;
}

.hero-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    color: white;
    margin-bottom: 54px;
    text-transform: uppercase;
}

.hero-title {
    font-size: 78px;
    font-weight: 600;
    line-height: 93.6px;
    color: white;
    margin-bottom: 35px;
}

.hero-link {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    border: 1px solid #ffffffbf;
    border-radius: 100px;
    padding: 20px 28px;
    text-decoration: none;
    transition: opacity 0.3s;
    display: inline-block;
}

.hero-link:hover {
    opacity: 0.6;
}

.hero-btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    border: 1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    position: absolute;
    right: 20px;
}

.hero-btn img {
    width: 24px;
}

.hero-btn:hover {
    transform: scale(1.1);
}

@media (min-width: 1540px) {
    .header-container {
        max-width: 1544px !important;
    }
    .hero-title {
        font-size: 120px;
        line-height: 1.2;
        margin-bottom: 50px;
    }
}
@media (max-width: 640px) {
    .hero-btn {
        width: 100px;
        height: 100px;
        cursor: pointer;
        display: flex;
        margin-left: auto;
        border: 1px solid white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s;
        position: absolute;
        right: 20px;
        bottom: -45%;
    }
    .hero-title {
        font-size: 48px;
        line-height: 1;
    }
}

/* hero end */

/* product start */
.product {
    padding-top: 123px;
    padding-bottom: 123px;
}

.product-container {
    max-width: 1404px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.product-banner {
    max-width: 668px;
    height: 717px;
    display: flex;
    object-fit: cover;
    width: 100%;
}

.product-title {
    font-size: 64px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 75px;
    text-align: left;
}

.product-text {
    color: #7a7a7a;
    margin-bottom: 39px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

@media (max-width: 900px) {
    .product {
    }
    .product-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .product-info {
        order: -2;
    }

    .product-banner {
        max-width: 668px;
        height: 717px;
        display: flex;
        width: 100%;
    }
    .product {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .product-banner {
        max-width: 668px;
        height: 317px;
        display: flex;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }

    .product-title {
        font-size: 45px;
        margin-bottom: 20px;
        font-weight: 500;
        line-height: 75px;
        text-align: left;
    }

    .product-text {
        color: #7a7a7a;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
    }
}

/* product end */

/* about start */

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/about/about-bacround_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 154px;
    padding-bottom: 129px;
}

.about-container {
    max-width: 1404px;
    margin-left: auto;
    margin-right: auto;
}

.about-text {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 103px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: left;
}

.about-title {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 34px;
    font-weight: 600;
    line-height: 55.2px;
    text-align: left;
}

.about-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: left;
    border-left: 2px solid #ffffff;
    display: flex;
    padding-left: 20px;
    margin-bottom: 127px;
    text-decoration: none;
}

.about-btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    background-color: transparent;
}

.about-btn img {
    width: 24px;
}

.about-btn:hover {
    transform: scale(1.1);
}

.about-container {
    max-width: 1404px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.about-text {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: left;
}

.about-title {
    color: #ffffff;
    font-size: 38px;
    max-width: 548px;
    margin-bottom: 34px;
    font-weight: 600;
    line-height: 55.2px;
    text-align: left;
}

.about-link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: left;
    border-left: 2px solid #ffffff;
    display: flex;
    padding-left: 20px;
    margin-bottom: 127px;
    text-decoration: none;
}

.about-btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.about-btn img {
    width: 24px;
}

.about-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .about {
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-title {
        color: #ffffff;
        font-size: 28px;
        max-width: 548px;
        margin-bottom: 34px;
        font-weight: 600;
        line-height: 33px;
        text-align: left;
    }
    .about-link {
        margin-bottom: 60px;
    }
    .about-btn {
        width: 80px;
        height: 80px;
    }
}

/* about end */

/* california start */
.california {
    padding-bottom: 122px;
    padding-left: 20px;
    padding-right: 20px;
}

.california-card {
    background-color: green;
    position: relative;
    height: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 14px;
    overflow: hidden;
    transition: transform 0.3s;
    user-select: none;
}

.california-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s;
}

.california-card:hover .california-card-img {
    transform: scale(1.12);
}

.california-card-title {
    position: relative;
    z-index: 11;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    margin-bottom: 12px;
}

.california-card-heading {
    position: relative;
    z-index: 11;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.7200000286102295px;
    text-align: center;
    color: white;
}

.california-card-date {
    position: relative;
    z-index: 11;
    margin-top: auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: left;
    color: white;
}

.swiper-pagination-california {
    padding-top: 20px;
    justify-content: center !important;
    display: flex;
    padding-bottom: 20px;
    gap: 10px;
}

.swiper-pagination-bullet {
    transform: scale(1) !important;
    width: 4px;
    height: 4px;
    position: relative;
    opacity: 1;
    margin: 0;
    outline: 1px solid black;
    outline-offset: 0px;
    transition: outline-offset 0.3s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: black !important;
    width: 4px;
    height: 4px;
    outline: 1px solid black;
    outline-offset: 5px;
}

@media (max-width: 768px) {
    .california-card{
        height: 330px;
    }
}

/* swiper end swiper-pagination-bullet-active*/

/* california end */

/* benefits start */
.benefits {
    background-color: #f5f6f8;
    padding: 123px 0;
    /* instead of: Apercu, sans-serif */
}

.benefits-container {
    max-width: 1580px;
    margin: auto;
    padding: 15px;
}

.benefits-title {
    margin-bottom: 100px;
    font-size: 100px;
    font-weight: 300;
    line-height: 1;
    color: #21201e;
    text-align: center;
}

.benefits-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
}

.benefits-item {
    padding: 40px 0;
}

.benefits-item img {
    display: inline-block;
    display: block;
    height: 30px;
    margin-bottom: 30px;
}

.benefits-item .title {
    color: #21201e;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
}

.benefits-item p {
    color: #21201e;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    opacity: 0.7;
}
@media (max-width: 768px) {
    .benefits {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .benefits-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .benefits-title {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
        color: #21201e;
        text-align: left;
    }
    .benefits-item .title {
        color: #21201e;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .benefits-item {
        padding: 0;
    }

    .benefits-item p {
        color: #21201e;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        opacity: 0.7;
    }
    .california {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 80px;
    }
}
/* benefits end */

/* footer start */
footer {
    background-color: #090B19;
    margin-top: auto;
  }
  
  .footer-container {
    max-width: 1400px;
    margin-inline: auto;
    border-inline: 1px solid #FFFFFF1F;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer-container .item {
    padding: 75px 40px 67px;
    color: white;
  }
  
  footer .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 60px;
  }
  
  footer p {
    line-height: 1.5;
  }
  
  .footer-container .item:nth-child(2) {
    border-inline: 1px solid #FFFFFF1F;
  }
  
  footer form {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  
  footer input {
    width: 100%;
    padding: 12px 37.4px;
    border: none;
    outline: none;
    height: 47px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  footer input.submit-btn {
    background-color: #E6A859;
    color: #FFF;
    cursor: pointer;
    transition: all .3s;
  }
  
  footer input.submit-btn:hover {
    background-color: #D48B46;
  }
  
  footer .copyright {
    margin-top: 100px;
  }
  
  .bottom-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .bottom-navbar li {
    list-style: none;
  }
  
  .bottom-navbar li a {
    color: #FFFFFF99;
    line-height: 1.5;
    text-decoration: none;
  }
  
  footer .icons {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  
  footer .icons i {
    width: 20px;
    text-align: center;
  }
  
  footer .icons a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: inherit;
    text-decoration: none;
  }
  
  footer .icons a:hover {
    opacity: 0.7;
  }
  
  @media(max-width:1024px) {
    .footer-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .footer-container .item:nth-child(2) {
      padding: 55px 30px 57px;
      color: white;
      max-width: 600px;
      border-right: 0px;
      border-left: 0;
    }
  
    .footer-container {
      padding: 0;
      color: white;
    }
  
    .footer-container .item:nth-child(1) {
      border-bottom: 1px solid #FFFFFF1F;
    }
  
    .footer-container .item:nth-child(3) {
      border-top: 1px solid #FFFFFF1F;
    }
  }
  
  @media(max-width:768px) {
    .footer-container .item:nth-child(2) {
      padding: 55px 30px 57px;
      color: white;
      max-width: 600px;
      border-right: 0px;
      border-left: 0;
    }
  
    .footer-container {
      padding: 0;
      color: white;
    }
  
    .footer-container .item:nth-child(1) {
      border-bottom: 1px solid #FFFFFF1F;
      padding-top: 80px;
      padding: 80px 30px 57px;
    }
  
    .footer-container .item:nth-child(3) {
      border-top: 1px solid #FFFFFF1F;
      padding-bottom: 80px;
    }
  
    footer .title {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width:400px) {
    .footer-container .item:nth-child(2) {
      padding: 55px 30px 57px;
      color: white;
      max-width: 600px;
      border-right: 0px;
      border-left: 0;
      padding-top: 50px;
      padding-top: 50px;
    }
  
    .footer-container {
      padding: 0;
      color: white;
    }
  
    .footer-container .item:nth-child(1) {
      border-bottom: 1px solid #FFFFFF1F;
      padding: 50px 30px 57px;
      padding-bottom: 50px;
    }
  
    .footer-container .item:nth-child(3) {
      border-top: 1px solid #FFFFFF1F;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  
    footer .title {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  
    footer p {
      font-size: 14px;
      line-height: 1.5;
    }
    footer .copyright {
      margin-top: 50px;
      font-size: 12px;
      margin-bottom: 10px;
  }
  .bottom-navbar{
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  }

/* footer end */

.hero-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero-page-title {
    text-align: center;
    font-size: 64px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

@media screen and (max-width: 1440px) {
    /* .container {
    max-width: 1170px;
  } */
}

@media (max-width: 1200px) {
    /* .container {
    max-width: 970px;
  } */
}

@media screen and (max-width: 1024px) {
    .hero-page-title {
        font-size: 50px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 768px) {
    .hero-page-title {
        font-size: 40px;
    }
}

/* responsive menu */

.hamburgerBars {
    display: none;
}

.responsive-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 122;
    padding: 25px 20px;
    display: none;
    transition: left 0.3s;
}
.responsive-menu.active {
    left: 0;
}
body.active {
    overflow: hidden !important;
    height: 100vh;
}

.responsive-menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.hamburgerClose {
    background-color: transparent;
    border: none;
    display: flex;
}

.responsive-menu .nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 900px) {
    .nav-list {
        display: none;
    }
    .hamburgerBars {
        display: flex;
        background-color: transparent;
        border: none;
    }
    .responsive-menu {
        display: block;
    }
}
.about-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.792);
    z-index: 111;
    display: none;
    align-items: center;
    justify-content: center;
}

.about-video.active{
    display: flex;
}

.about-video-info {
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    width: 100%;
}
.about-video-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    border: none;
    background-color: transparent;
}

.about-video iframe{
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width:540px) {
    
.about-video iframe{
    height: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
}