section h1,
section:not(.hero-page) h2,
section h3,
section h4,
section h5,
section h6 {
    line-height: 1.1;
    color: #3a3a3a;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.custom-home-section .container {
    max-width: 1400px;
}

.custom-home-section p {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-word;
}

.custom-home-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0;
}

/* custom home header start */
.custom-home-title {
    font-size: 30px;
    line-height: 1.3;
    text-align: right;
    color: #3a3a3a;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 20px 35px 20px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #a0a0a0;
}

.custom-home-description {
    padding: 20px 20px 20px 35px;
}

/* custom home header end */

/* custom home sections start */
.our-approach {
    background-color: #f9f9f9;
}

.custome-home-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.custome-home-title {
    margin-bottom: 10px;
    font-size: 30px;
}

/* custom home sections end */

/* additions start */
.additions {
    padding: 30px 20px 30px;
    text-align: center;
    background-image: url('../img/services/cubes-2.webp');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: auto;
    background-color: #f4f4f4;
}

.additions h2 {
    font-size: 35px;
}

.additions p {
    margin: 10px 0 16px;
    color: #444;
    font-size: 19px;
}

.additions a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

/* additions end */